{
  "openapi": "3.0.3",
  "info": {
    "title": "Port API",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.getport.io/"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/v1/blueprints/{blueprint_identifier}/actions/{action_identifier}/permissions": {
      "get": {
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "action_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": [
              "read:blueprints"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "patch": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "execute": {
                    "type": "object",
                    "properties": {
                      "users": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "ownedByTeam": {
                        "type": "boolean"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "action_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/blueprints/{blueprint_identifier}/permissions": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": [
              "read:blueprints"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "patch": {
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "object",
                    "properties": {
                      "register": {
                        "type": "object",
                        "properties": {
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ownedByTeam": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      },
                      "update": {
                        "type": "object",
                        "properties": {
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ownedByTeam": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      },
                      "unregister": {
                        "type": "object",
                        "properties": {
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ownedByTeam": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      },
                      "updateProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "users": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "roles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "ownedByTeam": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "updateRelations": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "users": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "roles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "ownedByTeam": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "additionalProperties": false
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/auth/access_token": {
      "post": {
        "tags": [
          "Authentication / Authorization"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string"
                  },
                  "clientSecret": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "clientId",
                  "clientSecret"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authorized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "enum": [
                        true
                      ]
                    },
                    "accessToken": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "number"
                    },
                    "tokenType": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "accessToken",
                    "expiresIn",
                    "tokenType"
                  ],
                  "description": "Authorized successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/permissions": {
      "get": {
        "tags": [
          "Authentication / Authorization"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/blueprints": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "security": [
          {
            "bearer": [
              "read:blueprints"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$",
                    "maxLength": 20
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "icon": {
                    "type": "string"
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "propertyNames": {
                          "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                        },
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "string",
                                "number",
                                "boolean",
                                "object",
                                "array"
                              ]
                            },
                            "format": {
                              "enum": [
                                "date-time",
                                "url",
                                "email",
                                "ipv4",
                                "ipv6"
                              ]
                            },
                            "spec": {
                              "enum": [
                                "open-api",
                                "md"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      },
                      "required": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "properties"
                    ]
                  },
                  "formulaProperties": {
                    "type": "object",
                    "default": {},
                    "propertyNames": {
                      "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "icon": {
                          "type": "string"
                        },
                        "formula": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "formula"
                      ]
                    }
                  },
                  "mirrorProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "string",
                          "pattern": "^([A-Za-z_$][A-Za-z0-9@_-]+)(\\.([A-Za-z_$][A-Za-z0-9@_-]+))*$"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "path"
                      ]
                    }
                  },
                  "relations": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "target": {
                          "type": "string"
                        },
                        "required": {
                          "type": "boolean",
                          "default": false
                        },
                        "many": {
                          "type": "boolean",
                          "default": false
                        },
                        "description": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "target",
                        "required",
                        "many"
                      ]
                    }
                  },
                  "changelogDestination": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "WEBHOOK"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "url",
                          "type"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "KAFKA"
                            ]
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                },
                "additionalProperties": true,
                "required": [
                  "identifier",
                  "title",
                  "schema"
                ]
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearer": [
              "create:blueprints"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/blueprints/{identifier}": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": [
              "read:blueprints"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "put": {
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$",
                    "maxLength": 20
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "icon": {
                    "type": "string"
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "propertyNames": {
                          "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                        },
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "string",
                                "number",
                                "boolean",
                                "object",
                                "array"
                              ]
                            },
                            "format": {
                              "enum": [
                                "date-time",
                                "url",
                                "email",
                                "ipv4",
                                "ipv6"
                              ]
                            },
                            "spec": {
                              "enum": [
                                "open-api",
                                "md"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      },
                      "required": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "properties"
                    ]
                  },
                  "formulaProperties": {
                    "type": "object",
                    "default": {},
                    "propertyNames": {
                      "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "icon": {
                          "type": "string"
                        },
                        "formula": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "formula"
                      ]
                    }
                  },
                  "mirrorProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "string",
                          "pattern": "^([A-Za-z_$][A-Za-z0-9@_-]+)(\\.([A-Za-z_$][A-Za-z0-9@_-]+))*$"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "path"
                      ]
                    }
                  },
                  "relations": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "target": {
                          "type": "string"
                        },
                        "required": {
                          "type": "boolean",
                          "default": false
                        },
                        "many": {
                          "type": "boolean",
                          "default": false
                        },
                        "description": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "target",
                        "required",
                        "many"
                      ]
                    }
                  },
                  "changelogDestination": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "WEBHOOK"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "url",
                          "type"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "KAFKA"
                            ]
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                },
                "additionalProperties": true,
                "required": [
                  "title",
                  "schema"
                ]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "delete": {
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Deleted successfully.",
                  "type": "object",
                  "properties": {
                    "ok": {
                      "enum": [
                        true
                      ]
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprints/{blueprint_identifier}/actions": {
      "post": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                  },
                  "title": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "trigger": {
                    "type": "string",
                    "enum": [
                      "CREATE",
                      "DELETE",
                      "DAY-2"
                    ]
                  },
                  "invocationMethod": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "WEBHOOK"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "url",
                          "type"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "KAFKA"
                            ]
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "userInputs": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "string",
                                "number",
                                "boolean",
                                "object",
                                "array"
                              ]
                            },
                            "format": {
                              "enum": [
                                "date-time",
                                "url",
                                "email",
                                "ipv4",
                                "ipv6",
                                "entity"
                              ]
                            },
                            "blueprint": {
                              "type": "string"
                            },
                            "icon": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      },
                      "required": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "properties"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "identifier",
                  "userInputs",
                  "trigger",
                  "invocationMethod"
                ]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "put": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "identifier": {
                      "type": "string",
                      "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                    },
                    "title": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "trigger": {
                      "type": "string",
                      "enum": [
                        "CREATE",
                        "DELETE",
                        "DAY-2"
                      ]
                    },
                    "invocationMethod": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "WEBHOOK"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "required": [
                            "url",
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "KAFKA"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "userInputs": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "string",
                                  "number",
                                  "boolean",
                                  "object",
                                  "array"
                                ]
                              },
                              "format": {
                                "enum": [
                                  "date-time",
                                  "url",
                                  "email",
                                  "ipv4",
                                  "ipv6",
                                  "entity"
                                ]
                              },
                              "blueprint": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "required": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "properties"
                      ]
                    },
                    "id": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "identifier",
                    "userInputs",
                    "trigger",
                    "invocationMethod"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": [
              "read:actions"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/blueprints/{blueprint_identifier}/actions/{action_identifier}": {
      "put": {
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                  },
                  "title": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "trigger": {
                    "type": "string",
                    "enum": [
                      "CREATE",
                      "DELETE",
                      "DAY-2"
                    ]
                  },
                  "invocationMethod": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "WEBHOOK"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "url",
                          "type"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "KAFKA"
                            ]
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "userInputs": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "string",
                                "number",
                                "boolean",
                                "object",
                                "array"
                              ]
                            },
                            "format": {
                              "enum": [
                                "date-time",
                                "url",
                                "email",
                                "ipv4",
                                "ipv6",
                                "entity"
                              ]
                            },
                            "blueprint": {
                              "type": "string"
                            },
                            "icon": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      },
                      "required": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "properties"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "identifier",
                  "userInputs",
                  "trigger",
                  "invocationMethod"
                ]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "action_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "action_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": [
              "read:actions"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "delete": {
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "action_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/actions": {
      "get": {
        "tags": [
          "Actions"
        ],
        "security": [
          {
            "bearer": [
              "read:actions"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/blueprints/{blueprint_identifier}/entities/{entity_identifier}/actions/{action_identifier}/runs": {
      "post": {
        "tags": [
          "Action Runs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "properties": {
                    "type": "object"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "properties"
                ]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "run_id",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "action_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "entity_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/blueprints/{blueprint_identifier}/actions/{action_identifier}/runs": {
      "post": {
        "tags": [
          "Action Runs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "properties": {
                    "type": "object"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "properties"
                ]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "run_id",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "action_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/actions/runs/{run_id}": {
      "patch": {
        "tags": [
          "Action Runs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "SUCCESS",
                      "FAILURE"
                    ]
                  },
                  "link": {
                    "type": "string",
                    "format": "url"
                  },
                  "message": {
                    "type": "object"
                  }
                },
                "additionalProperties": false,
                "required": []
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "run_id",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "Action Runs"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "run_id",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": [
              "read:runs"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/actions/runs": {
      "get": {
        "tags": [
          "Action Runs"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "entity",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "blueprint",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "run_id",
            "required": false
          }
        ],
        "security": [
          {
            "bearer": [
              "read:runs"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/blueprints/{blueprint_identifier}/entities": {
      "post": {
        "tags": [
          "Entities"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                  },
                  "title": {
                    "type": "string"
                  },
                  "team": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object"
                  },
                  "relations": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    }
                  }
                },
                "additionalProperties": true,
                "required": [
                  "properties"
                ]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "upsert",
            "required": true
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "validation_only",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "run_id",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/blueprints/{blueprint_identifier}/entities/{entity_identifier}": {
      "patch": {
        "tags": [
          "Entities"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": [
                      "string"
                    ],
                    "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                  },
                  "title": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "team": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "properties": {
                    "type": "object",
                    "propertyNames": {
                      "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                    }
                  }
                },
                "additionalProperties": false,
                "required": []
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "run_id",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "entity_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "put": {
        "tags": [
          "Entities"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                  },
                  "title": {
                    "type": "string"
                  },
                  "team": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object"
                  },
                  "relations": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    }
                  }
                },
                "additionalProperties": true,
                "required": [
                  "properties"
                ]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "run_id",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "entity_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "exclude_calculated_properties",
            "required": false
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "attach_title_to_relation",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "entity_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": [
              "read:entities"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "delete": {
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "delete_dependents",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "run_id",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "entity_identifier",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "blueprint_identifier",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Deleted successfully.",
                  "type": "object",
                  "properties": {
                    "ok": {
                      "enum": [
                        true
                      ]
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/search": {
      "post": {
        "tags": [
          "Entities"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "combinator": {
                    "enum": [
                      "and",
                      "or"
                    ]
                  },
                  "rules": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "property": {
                              "type": "string"
                            },
                            "operator": {
                              "enum": [
                                ">",
                                ">=",
                                "<",
                                "<=",
                                "between",
                                "notBetween"
                              ]
                            },
                            "value": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "string",
                                          "format": "date-time"
                                        }
                                      ]
                                    },
                                    "to": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "string",
                                          "format": "date-time"
                                        }
                                      ]
                                    }
                                  },
                                  "additionalProperties": true
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "preset": {
                                      "enum": [
                                        "today",
                                        "tomorrow",
                                        "yesterday",
                                        "lastWeek",
                                        "lastMonth"
                                      ]
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              ]
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "property",
                            "operator",
                            "value"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "property": {
                              "type": "string"
                            },
                            "operator": {
                              "enum": [
                                "=",
                                "!=",
                                "contains",
                                "doesNotContain",
                                "beginsWith",
                                "doesNotBeginWith",
                                "endsWith",
                                "doesNotEndWith",
                                "in",
                                "notIn"
                              ]
                            },
                            "value": {
                              "anyOf": [
                                {
                                  "type": "null"
                                },
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              ]
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "property",
                            "operator",
                            "value"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "operator": {
                              "enum": [
                                "isEmpty",
                                "isNotEmpty"
                              ]
                            },
                            "property": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "operator",
                            "property"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "operator": {
                              "enum": [
                                "relatedTo",
                                "notRelatedTo",
                                "dependedOn",
                                "notDependedOn"
                              ]
                            },
                            "blueprint": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            },
                            "direction": {
                              "enum": [
                                "upstream",
                                "downstream"
                              ]
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "operator",
                            "value"
                          ]
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "combinator",
                  "rules"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "exclude_calculated_properties",
            "required": false
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "attach_title_to_relation",
            "required": false
          }
        ],
        "security": [
          {
            "bearer": [
              "read:entities"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/pages": {
      "get": {
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "compact",
            "required": true
          }
        ],
        "security": [
          {
            "bearer": [
              "read:pages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "Pages"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "pattern": "^[A-Za-z_][A-Za-z0-9@_-]*$"
                  },
                  "blueprint": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  },
                  "showInSidebar": {
                    "type": "boolean",
                    "default": true
                  },
                  "section": {
                    "type": "string",
                    "enum": [
                      "software_catalog",
                      "organization"
                    ],
                    "default": "software_catalog"
                  },
                  "requiredQueryParams": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "widgets": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "entity-info"
                              ]
                            },
                            "title": {
                              "type": "string"
                            },
                            "entity": {
                              "type": "string"
                            },
                            "blueprint": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "type",
                            "entity",
                            "blueprint"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "run-info"
                              ]
                            },
                            "title": {
                              "type": "string"
                            },
                            "run_id": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "type",
                            "run_id"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "table-entities-explorer"
                              ]
                            },
                            "title": {
                              "type": "string"
                            },
                            "dataset": {
                              "type": "object",
                              "properties": {
                                "combinator": {
                                  "enum": [
                                    "and",
                                    "or"
                                  ]
                                },
                                "rules": {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "property": {
                                            "type": "string"
                                          },
                                          "operator": {
                                            "enum": [
                                              ">",
                                              ">=",
                                              "<",
                                              "<=",
                                              "between",
                                              "notBetween"
                                            ]
                                          },
                                          "value": {
                                            "anyOf": [
                                              {
                                                "type": "number"
                                              },
                                              {
                                                "type": "string",
                                                "format": "date-time"
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "from": {
                                                    "anyOf": [
                                                      {
                                                        "type": "number"
                                                      },
                                                      {
                                                        "type": "string",
                                                        "format": "date-time"
                                                      }
                                                    ]
                                                  },
                                                  "to": {
                                                    "anyOf": [
                                                      {
                                                        "type": "number"
                                                      },
                                                      {
                                                        "type": "string",
                                                        "format": "date-time"
                                                      }
                                                    ]
                                                  }
                                                },
                                                "additionalProperties": true
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "preset": {
                                                    "enum": [
                                                      "today",
                                                      "tomorrow",
                                                      "yesterday",
                                                      "lastWeek",
                                                      "lastMonth"
                                                    ]
                                                  }
                                                },
                                                "additionalProperties": true
                                              }
                                            ]
                                          }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                          "property",
                                          "operator",
                                          "value"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "property": {
                                            "type": "string"
                                          },
                                          "operator": {
                                            "enum": [
                                              "=",
                                              "!=",
                                              "contains",
                                              "doesNotContain",
                                              "beginsWith",
                                              "doesNotBeginWith",
                                              "endsWith",
                                              "doesNotEndWith",
                                              "in",
                                              "notIn"
                                            ]
                                          },
                                          "value": {
                                            "anyOf": [
                                              {
                                                "type": "null"
                                              },
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "number"
                                              },
                                              {
                                                "type": "boolean"
                                              },
                                              {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              {
                                                "type": "string",
                                                "format": "date-time"
                                              }
                                            ]
                                          }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                          "property",
                                          "operator",
                                          "value"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "operator": {
                                            "enum": [
                                              "isEmpty",
                                              "isNotEmpty"
                                            ]
                                          },
                                          "property": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "operator",
                                          "property"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "operator": {
                                            "enum": [
                                              "relatedTo",
                                              "notRelatedTo",
                                              "dependedOn",
                                              "notDependedOn"
                                            ]
                                          },
                                          "blueprint": {
                                            "type": "string"
                                          },
                                          "value": {
                                            "type": "string"
                                          },
                                          "direction": {
                                            "enum": [
                                              "upstream",
                                              "downstream"
                                            ]
                                          }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                          "operator",
                                          "value"
                                        ]
                                      }
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "combinator",
                                "rules"
                              ],
                              "additionalProperties": false
                            },
                            "displayMode": {
                              "type": "string",
                              "enum": [
                                "tabs",
                                "single"
                              ]
                            },
                            "blueprintConfig": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "properties": {
                                  "filterSettings": {
                                    "type": "object",
                                    "properties": {
                                      "filterBy": {
                                        "type": "object",
                                        "properties": {
                                          "combinator": {
                                            "enum": [
                                              "and",
                                              "or"
                                            ]
                                          },
                                          "rules": {
                                            "type": "array",
                                            "items": {
                                              "anyOf": [
                                                {
                                                  "type": "object",
                                                  "properties": {
                                                    "property": {
                                                      "type": "string"
                                                    },
                                                    "operator": {
                                                      "enum": [
                                                        ">",
                                                        ">=",
                                                        "<",
                                                        "<=",
                                                        "between",
                                                        "notBetween"
                                                      ]
                                                    },
                                                    "value": {
                                                      "anyOf": [
                                                        {
                                                          "type": "number"
                                                        },
                                                        {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        {
                                                          "type": "object",
                                                          "properties": {
                                                            "from": {
                                                              "anyOf": [
                                                                {
                                                                  "type": "number"
                                                                },
                                                                {
                                                                  "type": "string",
                                                                  "format": "date-time"
                                                                }
                                                              ]
                                                            },
                                                            "to": {
                                                              "anyOf": [
                                                                {
                                                                  "type": "number"
                                                                },
                                                                {
                                                                  "type": "string",
                                                                  "format": "date-time"
                                                                }
                                                              ]
                                                            }
                                                          },
                                                          "additionalProperties": true
                                                        },
                                                        {
                                                          "type": "object",
                                                          "properties": {
                                                            "preset": {
                                                              "enum": [
                                                                "today",
                                                                "tomorrow",
                                                                "yesterday",
                                                                "lastWeek",
                                                                "lastMonth"
                                                              ]
                                                            }
                                                          },
                                                          "additionalProperties": true
                                                        }
                                                      ]
                                                    }
                                                  },
                                                  "additionalProperties": false,
                                                  "required": [
                                                    "property",
                                                    "operator",
                                                    "value"
                                                  ]
                                                },
                                                {
                                                  "type": "object",
                                                  "properties": {
                                                    "property": {
                                                      "type": "string"
                                                    },
                                                    "operator": {
                                                      "enum": [
                                                        "=",
                                                        "!=",
                                                        "contains",
                                                        "doesNotContain",
                                                        "beginsWith",
                                                        "doesNotBeginWith",
                                                        "endsWith",
                                                        "doesNotEndWith",
                                                        "in",
                                                        "notIn"
                                                      ]
                                                    },
                                                    "value": {
                                                      "anyOf": [
                                                        {
                                                          "type": "null"
                                                        },
                                                        {
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "number"
                                                        },
                                                        {
                                                          "type": "boolean"
                                                        },
                                                        {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        }
                                                      ]
                                                    }
                                                  },
                                                  "additionalProperties": false,
                                                  "required": [
                                                    "property",
                                                    "operator",
                                                    "value"
                                                  ]
                                                },
                                                {
                                                  "type": "object",
                                                  "properties": {
                                                    "operator": {
                                                      "enum": [
                                                        "isEmpty",
                                                        "isNotEmpty"
                                                      ]
                                                    },
                                                    "property": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "operator",
                                                    "property"
                                                  ],
                                                  "additionalProperties": false
                                                },
                                                {
                                                  "type": "object",
                                                  "properties": {
                                                    "operator": {
                                                      "enum": [
                                                        "relatedTo",
                                                        "notRelatedTo",
                                                        "dependedOn",
                                                        "notDependedOn"
                                                      ]
                                                    },
                                                    "blueprint": {
                                                      "type": "string"
                                                    },
                                                    "value": {
                                                      "type": "string"
                                                    },
                                                    "direction": {
                                                      "enum": [
                                                        "upstream",
                                                        "downstream"
                                                      ]
                                                    }
                                                  },
                                                  "additionalProperties": false,
                                                  "required": [
                                                    "operator",
                                                    "value"
                                                  ]
                                                }
                                              ]
                                            }
                                          }
                                        },
                                        "required": [
                                          "combinator",
                                          "rules"
                                        ],
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "filterBy"
                                    ]
                                  },
                                  "groupSettings": {
                                    "type": "object",
                                    "properties": {
                                      "groupBy": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "groupBy"
                                    ]
                                  },
                                  "sortSettings": {
                                    "type": "object",
                                    "properties": {
                                      "sortBy": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "property": {
                                              "type": "string"
                                            },
                                            "order": {
                                              "enum": [
[...]
